[Desktop Entry]
Name=dvd::rip
GenericName=DVD copy program
GenericName[de]=DVD-Kopierprogramm
Comment=dvd::rip is a free DVD copy program.
Comment[de]=dvd::rip ist ein freies DVD-Kopierprogramm.
Icon=dvdrip
Exec=dvdrip
Categories=AudioVideo;Video;
Type=Application
Encoding=UTF-8
Terminal=false
MultipleArgs=false