[Desktop Entry]
Encoding=UTF-8
Name=Firefox
GenericName[en]=Firefox Web Browser
GenericName[cs]=Firefox
GenericName[de]=Firefox-Webbrowser
GenericName[fr]=Navigateur Web Firefox
GenericName[es]=Navegador Web Firefox
GenericName[hu]=Firefox webböngésző
GenericName[it]=Browser Web Firefox
GenericName[ja]=Firefox Webブラウザ
GenericName[pl]=Przeglądarka WWW Firefox
GenericName[pt_BR]=Browser da Web Firefox
GenericName[sk]=Firefox
GenericName[tr]=Web Tarayıcı
GenericName[zh_CN]=Firefox 万维网浏览器
GenericName[zh_TW]=Firefox 網頁瀏覽器
Comment=Firefox Web Browser
Comment[en]=Firefox Web Browser
Comment[cs]=Prohlížeč Firefox
Comment[de]=Firefox-Webbrowser
Comment[fr]=Navigateur Web Firefox
Comment[es]=Navegador Web Firefox
Comment[hu]=Firefox webböngésző
Comment[it]=Browser Web Firefox
Comment[ja]=Firefox Webブラウザ
Comment[pl]=Przeglądarka WWW Firefox
Comment[pt_BR]=Browser da Web Firefox
Comment[sk]=Firefox Web Browser
Comment[tr]=İnternet Tarayıcısı
Comment[zh_CN]=Firefox 万维网浏览器
Comment[zh_TW]=Firefox 網頁瀏覽器
Comment=Browse the Web
Exec=/usr/bin/firefox %u
Icon=/usr/share/pixmaps/firefox.png
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
Categories=Application;Network;
