[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Simutrans
Name[tr]=Simutrans
GenericName=Transport Simulation
GenericName[tr]=Taşımacılık Simülasyonu
Icon=simutrans
Exec=simutrans
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
