[Desktop Entry]
Encoding=UTF-8
Name=Glest
Name[tr]=Glest
Exec=/usr/bin/glest
Type=Application
GenericName=3D Strategy Game
GenericName[tr]=3B Strateji Oyunu
Icon=/usr/share/glest/glest.ico
Categories=Game;StrategyGame;
