# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=dguitar
Icon=dguitar
Terminal=0
Name[tr]=DGuitar
Name=DGuitar
GenericName[tr]=Guitar Pro görüntüleyici ve çalıcı
GenericName=Guitar Pro viewer and player
Comment[tr]=Guitar Pro görüntüleyici ve çalıcı
Comment=Guitar Pro viewer and player
Categories=KDE;Application;AudioVideo;Sound;Audio;