[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Liquid War
Name[tr]=Liquid War
GenericName=Water War
GenericName[tr]=Su Savaşı
TryExec=liquidwar
Exec=liquidwar
FilePattern=liquidwar
Icon=liquidwar.xpm
Categories=Application;Game;ArcadeGame;
Terminal=false
