[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=TrueCrypt
GenericName=Disk Encryption Software
GenericName[tr]=Disk Şifreleme Uygulaması
Icon=truecrypt
Exec=truecrypt
Terminal=false
StartupNotify=false
Categories=Application;Security;
