[Desktop Entry]
Type=Application
Name=Sinerji
Name[tr]=Sinerji
Comment=Fronted for Synergy
Comment[tr]=Synergy için arayüz
Exec=sinerji
TryExec=sinerji
Icon=sinerji
Categories=System;Qt;
