[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Xpad
Name[tr]=Xpad
GenericName=Yapışkan Notlar
GenericName[tr]=Yapışkan Notlar
Icon=xpad
Exec=xpad
Terminal=false
StartupNotify=false
Categories=Application;Office;