[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Thunderbird
GenericName=Mail Application
GenericName[tr]=E-Posta İstemcisi
Exec=/usr/bin/thunderbird %U
Icon=/usr/lib/MozillaThunderbird/icons/mozicon50.xpm
Terminal=false
Type=Application
StartupWMClass=Thunderbird-bin
Categories=Application;Network;
