[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Formula
Name[tr]=OpenOffice.org Formül
Exec=oomath %U
Icon=ooo-math.png
Terminal=false
Type=Application
InitialPreference=15
Categories=Qt;KDE;Office;X-KDE-More;
MimeType=application/vnd.oasis.opendocument.formula
