[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Dodgin' Diamond 2
Name[tr]=Dodgin' Diamond 2
GenericName=Shot'em Up Arcade
GenericName[tr]=Shot'em Up Arcade
Icon=dd2
Exec=dd2
Terminal=false
StartupNotify=false
Categories=Application;Game;