[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tapioca-inspector
Name[tr]=Tapioca-inspector
GenericName=Tapioca-inspector
GenericName[tr]=Tapioca-inspector
Icon=tapioca-inspector
Exec=tapioca-inspector
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
