[Desktop Entry]
Name=Lazarus
Comment=Lazarus IDE
Exec=lazarus "%f"
Terminal=0
Type=Application
Icon=lazarus.png
Encoding=UTF-8
Categories=Application;Development;IDE;
StartupWMClass=Lazarus
MimeType=text/x-pascal;
