[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ultimate Stunts
Name[tr]=Ultimate Stunts
GenericName=Race Game
GenericName[tr]=Race Game
Icon=ultimatestunts
Exec=ustunts
Terminal=false
StartupNotify=false
Categories=Application;Game;