[Desktop Entry]
Encoding=UTF-8
Name=File Manager
Exec=/usr/bin/winefile
Icon=kfm
Terminal=false
Type=Application
Categories=Application;Wine-Tools

Name[tr]=Dosya Yöneticisi
