[Desktop Entry]
Name=Zekr 
Name[fa]=ذکر
Name[tr]=Zekr
Comment=Study The Quran
Comment[tr]=Kur'an Çalışmaları
Comment[fa]=قرآن را مطالعه نمایید
GenericName=Quranic Browser
GenericName[tr]=Kur'an Tarayıcısı
GenericName[fa]=مرورگر قرآنی
Exec=zekr
Terminal=false
Type=Application
Icon=zekr.xpm
Categories=Application;Education;
MimeType=
