[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Mastermind
Name[tr]=Mastermind
GenericName=Board Game
GenericName[tr]=Board Game
Icon=gnome-mastermind
Exec=gnome-mastermind
Terminal=false
StartupNotify=false
Categories=Application;Game; 