[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kpogre -caption "%c" %i %m
Icon=kpogre.png
DocPath=kpogre/index.html
Comment=Graphical administration tool for PostgreSQL database system for KDE
Comment[tr]=Postgresql için grafik arayüzlü bir yönetim programı
Terminal=0
Name=KPoGre
GenericName=Admin GUI for PostgreSQL
GenericName[tr]=PostgreSQL yönetim arayüzü
Categories=Qt;KDE;Utility
