[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=Kerry Beagle
GenericName=Desktop Search
GenericName[br]=Klask ar vurev
GenericName[cs]=Vyhledávání v počítači
GenericName[da]=Desktopsøgning
GenericName[de]=Desktop-Suche
GenericName[es]=Búsqueda de escritorio
GenericName[ga]=Cuardach Deisce
GenericName[gl]=Procuras no Escritório
GenericName[it]=Ricerca desktop
GenericName[ja]=デスクトップ検索
GenericName[ka]=სამუშაო მაგიდის ძიება
GenericName[nl]=Desktop-zoekprogramma
GenericName[pt]=Pesquisa no Ambiente de Trabalho
GenericName[sk]=Vyhladávanie na pracovnej ploche
GenericName[sv]=Skrivbordssökning
GenericName[th]=โปรแกรมค้นหาภายในเครื่อง
GenericName[tr]=Masaüstü Arama
GenericName[uk]=Стільничний пошук
GenericName[zh_CN]=桌面搜索
Exec=kerry --show-searchdialog
Icon=kerry
Type=Application
Categories=Qt;KDE;Application;Core;Utility;Filesystem;
Terminal=false
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
