[Desktop Entry]
Categories=Application;Science;
Encoding=UTF-8
Exec=/usr/bin/impact
GenericName=Finite Element Program
GenericName[tr]=Sonlu Elemanlar Programı
Icon=impact
Name=Impact
StartupNotify=false
Terminal=false
Type=Application
