[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Irrlamb
Name[tr]=Irrlamb
GenericName=Sphere Rolling Game
GenericName[tr]=Küre Yuvarlama Oyunu
Icon=irrlamb
Exec=irrlamb
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
