[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Boson
Name[tr]=Boson
GenericName=Boson
GenericName[tr]=Boson
Icon=boson
Exec=boson
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
