[Desktop Entry]
Encoding=UTF-8
Name=QtStumbler
GenericName=QtStumbler
GenericName[tr]=QtStumbler
Type=Application
Categories=Qt;KDE;Network;Application;
Terminal=false
Exec=qtstumbler
Icon=qtstumbler
