[Desktop Entry]                                   
Version=1.0
Type=Application
Encoding=UTF-8
Name=Marave
Name[tr]=Marave
Comment[tr]=Basit metin editörü
GenericName=Fancy Text Editor
GenericName[tr]=Metin Editörü
Exec=marave-editor %f
Icon=marave
StartupNotify=true
Terminal=false
MimeType=text/plain
Categories=Application;Utility;TextEditor;Qt;
