[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AlephOne-Infinity
Name[tr]=AlephOne-Infinity
GenericName=Infinity mod for AlephOne
GenericName[tr]=AlephOne Infinity modu
Icon=AlephOne
Exec=alephone-infinity
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
