# This file is part of the "Image Scan! for Linux" binary package (or
# generated automatically as part of its installation).  Any changes
# will be overwritten with each upgrade of the package.

ACTION!="add", GOTO="iscan_rules_end"
SUBSYSTEM!="usb_device", GOTO="iscan_rules_end"

SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0101", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0103", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0104", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0106", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0107", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0109", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="010a", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="010b", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="010c", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="010e", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="010f", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0110", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0112", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0116", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0118", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0119", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="011b", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="011c", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="011d", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="011e", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0121", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0122", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0126", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0128", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0129", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="012a", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="012b", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="012c", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="012d", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="012e", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="012f", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0130", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0801", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0802", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0805", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0806", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0807", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="080d", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="080e", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="080f", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0810", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0811", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0813", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0814", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0815", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0817", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0818", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0819", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="081a", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="081c", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="081d", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="081f", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0820", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0827", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0828", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0829", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="082a", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="082b", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="082e", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="082f", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0830", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0833", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0835", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0836", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0837", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0838", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="0839", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="083a", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="083c", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"
SYSFS{idVendor}=="04b8", SYSFS{idProduct}=="083f", MODE="0664", GROUP="pnp", ENV{libsane_matched}="yes"

LABEL="iscan_rules_end"
