[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=X-Moto
Name[tr]=X-Moto
GenericName=Level Editor
GenericName[tr]=Bölüm Düzenleyici
Icon=xmoto
Exec=xmoto-edit
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame
