[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=0.9.3
Exec=knutclient -caption "%c" %i %m
Icon=knutclient
MiniIcon=knutclient
DocPath=knutclient/index.html
Name=KNutClient
Name[de]=KNutClient
Name[cs]=KNutClient
Name[es]=KNutClient
Name[tr]=KNutClient
GenericName=Client for NUT
GenericName[de]=
GenericName[cs]=Klient pro UPS syst NUT
GenericName[es]=Cliente KDE para NUT
GenericName[tr]=NUT İstemcisi
Terminal=0
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;System;Monitor;
