[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Abuse GL
Name[tr]=Abuse GL
GenericName=OpenGL version of Abuse
GenericName[tr]=Abuse OpenGL
Icon=abuse
Exec=abuse -fullscreen -gl -antialias -scale 2
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
