[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-msdos-program
Actions=openWithWine;
X-KDE-Priority=TopLevel

[Desktop Action openWithWine]
Name=Open with Wine
Name[tr]=Wine ile aç
Exec=wine start /unix %f
Icon=wine
