[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PPracer
Name[tr]=PPracer
GenericName=Multiplayer
GenericName[tr]=İki Kişilik
Icon=ppracer
Exec=ppracer --multiplayer
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
