[Desktop Entry]
Encoding=UTF-8
Name=Chromium
Name[tr]=Chromium

Type=Application
Exec=chromium
Icon=/usr/share/chromium/data/png/hero.png

GenericName=Chromium
Categories=Game;ArcadeGame;
