[Desktop Entry]
Comment=GCstar Data File
Comment[tr]=GCstar Veri Dosyası
Icon=gcstar
Name=gcstar
MimeType=application/x-gcstar;
Type=Application
X-KDE-AutoEmbed=false
