[Desktop Entry]
Encoding=UTF-8
Name=VNC Viewer
Comment=VNC client application
GenericName[tr]=VNC istemcisi
Exec=/usr/bin/vncviewer
Icon=vnc.png
Terminal=false
Type=Application
StartupWMClass=vncviewer
Categories=Application;Utility;
