# Start/Stop bluetooth service on device insertion.
KERNEL=="hci[0-9]*", SUBSYSTEM=="bluetooth", RUN+="/lib/udev/bluetooth.sh"

# So that normal users can dial out.
SUBSYSTEM=="tty", SUBSYSTEMS=="bluetooth", GROUP="dialout"
