[Desktop Entry]
Encoding=UTF-8
Name=Wormux
Name[tr]=Wormux

Type=Application
Exec=wormux
Icon=/usr/share/wormux/wormux-32.xpm
GenericName=Wormux
X-DCOP-ServiceType=Multi
Categories=Game;ArcadeGame;
