[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=gambas2
Icon=gambas2
Name=Gambas II Integrated Development Environment
Name[tr]=Gambas II Tümleşik Geliştirme Ortamı
Type=Application
Categories=Application;Development;IDE;
StartupNotify=true
