[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Speedy Simon
Name[tr]=Speedy Simon
GenericName=Arcade Game
GenericName[tr]=Arcade Game
Icon=speedysimon
Exec=speedysimon
Terminal=false
StartupNotify=false
Categories=Application;Game;

