[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Pengupop
Name[tr]=Pengupop
GenericName=Bubble Game
GenericName[tr]=Bubble Game
Icon=pengupop
Exec=pengupop
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame 