# UDEV-style hotplug map for libmtp
# Put this file in /etc/udev/rules.d

SUBSYSTEM!="usb_device", ACTION!="add", GOTO="libmtp_rules_end"

# Creative Zen Vision
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="411f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Portable Media Center
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4123", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Xtra (MTP mode)
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4128", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Second generation Dell DJ
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="412f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Micro (MTP mode)
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4130", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Touch (MTP mode)
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4131", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Dell Pocket DJ (MTP mode)
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4132", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Sleek (MTP mode)
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4137", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen MicroPhoto
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="413c", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Sleek Photo
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="413d", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Vision:M
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="413e", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen V
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4150", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Vision:M (DVP-HD0004)
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4151", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen V Plus
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4152", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Creative Zen Vision W
SYSFS{idVendor}=="041e", SYSFS{idProduct}=="4153", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YH-820
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="502e", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YH-925(-GS)
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="502f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YH-925GS
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="5024", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-T7J
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="5047", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-U2J (YP-U2JXB/XAA)
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="5054", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-F2J
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="5057", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-K5
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="505a", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-T9
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="507f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-K3
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="5081", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YH-999 Portable Media Center
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="5a0f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung X830 Mobile Phone
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="6702", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Samsung YP-Z5
SYSFS{idVendor}=="04e8", SYSFS{idProduct}=="503c", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Intel Bandon Portable Media Center
SYSFS{idVendor}=="045e", SYSFS{idProduct}=="00c9", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# JVC Alneo XA-HD500
SYSFS{idVendor}=="04f1", SYSFS{idProduct}=="6105", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips HDD6320
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="01eb", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips HDD6320/00 & HDD6330/17
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="014b", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips HDD1620/00
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="014c", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips GoGear Audio
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="0165", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips GoGear SA9200
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="014f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips PSA235
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="7e01", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Philips HDD085/00
SYSFS{idVendor}=="0471", SYSFS{idProduct}=="014d", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# SanDisk Sansa m230/m240
SYSFS{idVendor}=="0781", SYSFS{idProduct}=="7400", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# SanDisk Sansa c150
SYSFS{idVendor}=="0781", SYSFS{idProduct}=="7410", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# SanDisk Sansa e200
SYSFS{idVendor}=="0781", SYSFS{idProduct}=="7420", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# SanDisk Sansa e260
SYSFS{idVendor}=="0781", SYSFS{idProduct}=="7420", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# SanDisk Sansa c250
SYSFS{idVendor}=="0781", SYSFS{idProduct}=="7450", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# SanDisk Sansa e280
SYSFS{idVendor}=="0781", SYSFS{idProduct}=="7421", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver Portable Media Center
SYSFS{idVendor}=="1006", SYSFS{idProduct}=="4002", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver Portable Media Center
SYSFS{idVendor}=="1006", SYSFS{idProduct}=="4003", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T10
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1113", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T20 FM
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1114", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T20
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1115", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver U10
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1116", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T10
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1117", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T20
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1118", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T30
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1119", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver T10 2GB
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1120", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver N12
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="1122", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver Clix
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="112a", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver H10 20GB
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="2101", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# iRiver H10
SYSFS{idVendor}=="4102", SYSFS{idProduct}=="2102", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Dell DJ Itty
SYSFS{idVendor}=="413c", SYSFS{idProduct}=="4500", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Toshiba Gigabeat MEGF-40
SYSFS{idVendor}=="0930", SYSFS{idProduct}=="0009", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Toshiba Gigabeat
SYSFS{idVendor}=="0930", SYSFS{idProduct}=="000c", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Toshiba Gigabeat P20
SYSFS{idVendor}=="0930", SYSFS{idProduct}=="000f", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Toshiba Gigabeat S
SYSFS{idVendor}=="0930", SYSFS{idProduct}=="0010", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Toshiba Gigabeat P10
SYSFS{idVendor}=="0930", SYSFS{idProduct}=="0011", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Archos 104 (MTP mode)
SYSFS{idVendor}=="0e79", SYSFS{idProduct}=="120a", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Archos XS202 (MTP mode)
SYSFS{idVendor}=="0e79", SYSFS{idProduct}=="1208", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Dunlop MP3 player 1GB / EGOMAN MD223AFD
SYSFS{idVendor}=="10d6", SYSFS{idProduct}=="2200", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Microsoft Zune
SYSFS{idVendor}=="045e", SYSFS{idProduct}=="0710", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Sirius Stiletto
SYSFS{idVendor}=="18f6", SYSFS{idProduct}=="0102", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Canon PowerShot A640 (PTP/MTP mode)
SYSFS{idVendor}=="04a9", SYSFS{idProduct}=="3139", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Nokia Mobile Phones (MTP mode)
SYSFS{idVendor}=="0421", SYSFS{idProduct}=="04e1", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Logik LOG DAX MP3 and DAB Player
SYSFS{idVendor}=="13d1", SYSFS{idProduct}=="7002", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"
# Isabella's prototype
SYSFS{idVendor}=="0b20", SYSFS{idProduct}=="ddee", GROUP="pnp", SYMLINK+="libmtp-%k", MODE="660"

LABEL="libmtp_rules_end"
