[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Blobtrix
GenericName=Tetris-like Action Game
GenericName[tr]=Tetris Benzeri Oyun
Icon=blobtrix
Exec=blobtrix
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
