[Desktop Entry]
Name=Xastir
Name[tr_TR]=Xastir
Comment=APRS istemcisi
Comment[tr_TR]=Full featured APRS client
Encoding=UTF-8
Exec=xastir
Icon=xastir
MimeType=text
StartupNotify=true
Terminal=
TerminalOptions=
Type=Application
Categories=Utility;Application;HamRadio;
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
