[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Vacuum
Name[tr]=Vacuum
GenericName=Action Game
GenericName[tr]=Aksiyon Oyunu
Icon=vacuum
Exec=vacuum
Terminal=false
StartupNotify=false
Categories=Application;Game;