[Desktop Entry]
Categories=Application;Network
Encoding=UTF-8
Exec=OpenVAS-Client
GenericName=OpenVAS Client
GenericName[tr]=OpenVAS İstemcisi
Icon=/usr/share/pixmaps/openvas-client.xpm
Name=OpenVAS Client
Name[tr]=OpenVAS İstemcisi
StartupNotify=true
Terminal=false
Type=Application
