[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=StepMania
Name[tr]=StepMania
GenericName=A Rythm Game
GenericName[tr]=Ritim Oyunu
Icon=StepMania
Exec=stepmania
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
