[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Alien Arena 2009
Name[tr]=Alien Arena 2009
Icon=alienarena
Exec=alienarena
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
