[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=poker3d
Name[tr]=poker3d
GenericName=poker3d
GenericName[tr]=poker3d
Icon=poker3d
Exec=poker3d
Terminal=false
StartupNotify=false
Categories=Application;Game
