[Desktop Entry]
Version=1.0
Comment=Upload files with a few clicks
Comment[tr]=Dosyalarınızı birkaç tıkla yükleyin
Exec=oneclickftp
GenericName=FTP Client
GenericName[tr]=FTP İstemcisi
Icon=oneclickftp
Name=OneClickFTP
Type=Application
StartupNotify=True
Categories=Qt;KDE;Network;FileTransfer;

