[Desktop Entry]
Name=NetBeans
Name[tr]=NetBeans
Comment=A Java Development Environment
Comment[tr]=Java Geliştirme Ortamı
Icon=netbeans
Exec=/usr/bin/netbeans
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
