[Desktop Entry]
Encoding=UTF-8
Name=gpicd
Comment=Pic Programming
Comment[tr]=Pic Programlama
GenericName=gpicd
Exec=gpicd
Icon=gpicd.xpm
StartupNotify=false
Terminal=false
Type=Application
Categories=Qt;KDE;Education;Science;
