[Desktop Entry]
Type=Application
Exec=keep
Icon=keep
GenericName=Backup System
GenericName[br]=Gwareziñ ar reizhiad
GenericName[da]=Sikkerhedskopieringssystem
GenericName[es]=Sistema de copia de seguridad
GenericName[et]=Varundamissüsteem
GenericName[ga]=Córas Cúltaca
GenericName[nl]=Backupsysteem
GenericName[pt]=Sistema de Cópias de Segurança
GenericName[sv]=Säkerhetskopieringssystem
GenericName[xx]=xxBackup Systemxx
GenericName[tr]=Sistem yedekleyicisi
Terminal=false
Name=Keep
Name[br]=Mirout
Name[xx]=xxKeepxx
Name[tr]=Keep
X-DCOP-ServiceType=Unique
Categories=Qt;KDE;Application;Utility;
Encoding=UTF-8
