[Desktop Entry]
Name=XviD4Conf
GenericName=XviD configurator
GenericName[de]=XviD Konfigurationswerkzeug
Comment=Creates XviD configuration files
Comment[de]=Erstellt XviD Konfigurationsdateien
Icon=xvid4conf
Exec=xvid4conf
Categories=Application;AudioVideo;
Type=Application
Encoding=UTF-8
Terminal=false
MultipleArgs=false