[Desktop Entry]
Encoding=UTF-8
Name=Pencil
GenericName=2D Traditional Animation Tool
GenericName[tr]=2B Geleneksel Animasyon Aracı
Comment=2D Traditional Animation
Exec=Pencil
Icon=pencil
Terminal=false
Type=Application
Categories=Graphics;Video;