[Desktop Entry]
Encoding=UTF-8
Name=CPLUS4 Emulator
Name[re]=CPLUS4 Emülatörü
Comment=Commodore PLUS4 Emulator
Comment=Commodore PLUS4 Emülatörü
Exec=/usr/bin/xplus4 %U
Icon=plus4icon
Terminal=false
Type=Application
MimeType=application/x-d64;application/x-t64;application/x-x64;
StartupNotify=false
Categories=Application;Vice
