[Desktop Entry]
Type=Application
Name=saggad
GenericName=CAD/CAM system
GenericName[tr]=CAD/CAM programı
GenericName[fr]=Système de CAO/DAO
Comment=Draw and create
Comment[tr]=Dessinez et concevez
Comment[fr]=2d çizim ve modelleme programı
Categories=GTK;Graphics;
Exec=sagcad
Icon=sagcad
StartupNotify=true
Terminal=false
