[Desktop Entry]
Version=1.0
Name=Bacula Monitor
Name[tr]=Bacula Görüntüleyici
GenericName=Bacula Tray Monitor
GenericName[tr]=Bacula Görüntüleme Arayüzü
Comment=Monitor your Bacula Backup server
Comment[tr]=Bacula yedekleme sunucunuzu görüntüleyin
Exec=/usr/sbin/bacula-tray-monitor -c /etc/bacula/tray-monitor.conf
Icon=bacula-traymonitor
Terminal=false
Type=Application
Categories=System;Utility;
