[Desktop Entry]
Encoding=UTF-8
Name=Praat Speech Analyzer
Comment="Analyze, synthesize and manipulate speech"
Comment[tr]="Analyze, synthesize and manipulate speech"
GenericName=Speech Analyzer
GenericName[tr]=Speech Analyzer
Exec=praat
Icon=praat
Type=Application
Categories=Education;Science;
