[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Magicor
Name[tr]=Magicor
GenericName=Magicor
GenericName[tr]=Magicor
Icon=/usr/share/magicor/sprites/sun.png
Exec=magicor
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
