[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=rrgbis
Name[tr]=rrgbis
GenericName=Space Battle Game
GenericName[tr]=Uzay Savaşı Oyunu
Icon=rrgbis
Exec=rrgbis
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
