[Desktop Entry]
Encoding=UTF-8
Name=LyX Word Processor
Name[tr]=LyX Kelime İşlemci
Exec=lyx
Icon=lyx.png
Terminal=false
Type=Application
InitialPreference=15
Categories=Qt;KDE;Office;
