[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-scribus
Comment[en]=Scribus Document
Comment[pl]=Dokument Scribusa
Comment[de]=Scribus Dokument
Comment[cy]=Dogfen Scribus
Comment[nn]=Scribus-dokument
Comment[fi]=Scribus-asiakirja
Comment[cz]=Scribus Dokument
Comment[sl]=Scribus Dokument
Comment[fr]=Scribus Document
Comment[es]=Documento de Scribus
Comment[it]=Documento Scribus
Comment[nb]=Scribus dokument
Comment[da]=Scribus Dokument
Comment[ru]=Документ Scribus
Comment[tr]=Scribus Belgesi
Patterns=*.sla;*.sla.gz;*.scd;*.scd.gz;
Icon=scribusicon
