[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice Writer File...
Name[tr]=OpenOffice Metin Dosyası...
Type=Link
URL=.source/oowriter.odt
Icon=ooo-writer2.0
