[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Alien Arena 2007
Name[tr]=Alien Arena 2007
GenericName=SDL Sound Output
GenericName[tr]=SDL Ses Çıkışı
Icon=alienarena2007
Exec=alienarena2007-sdl
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
