[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Smile
Name[tr]=Smile
GenericName=Slideshow creation software
GenericName[tr]=Slayt Programı
Icon=smile
Exec=smile
Terminal=false
StartupNotify=false
Categories=Qt;KDE;Application;Graphics;
