[Desktop Entry]
Name=KDVDCreator
Comment=Video DVD and CD Creator
Comment[tr]=Video DVD ve CD Oluşturucu
GenericName=Video DVD and CD Creator
GenericName[tr]=Video DVD ve CD Oluşturucu
Exec=kdvdcreator
Icon=media-optical
Type=Application
Terminal=false
Categories=Qt;KDE;Application;AudioVideo;Multimedia;
StartupNotify=true

