[Desktop Entry]
Name=TweetDeck
Name[en_US]=TweetDeck
Categories=GTK;Application;Network;
GenericName[en_US]=Twitter and Facebook Web Application
GenericName=Twitter ve Facebook Web application
GenericName[tr]=Twitter ve Facebook Web Uygulaması
Comment[en_US]=Get live updates from your friends on Twitter and Facebook
Comment=Get live updates from your friends on Twitter and Facebook
Comment[tr]=Twitter ve Facebook servislerine tarayıcısız erişim sağlayan Adobe Air uygulaması
Encoding=UTF-8
Exec=tweetdeck
Hidden=false
Icon=tweetdeck.png
MimeType=
StartupNotify=true
Terminal=false
Type=Application
