[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AlephOne-M1A1
Name[tr]=AlephOne-M1A1
GenericName=Marathon1 mod for AlephOne
GenericName[tr]=AlephOne Marathon1 modu
Icon=AlephOne
Exec=alephone-m1a1
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
