[Desktop Entry]
Version=1.0
Exec=synkron
GenericName=Folder Synchroniser
GenericName[tr]=Klasör Eşleyici
Icon=synkron
Name=Synkron
Type=Application
StartupNotify=True
Categories=Application;Qt;Utility;
