[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AlephOne-Red
Name[tr]=AlephOne-Red
GenericName=Red mod for AlephOne
GenericName[tr]=AlephOne Red modu
Icon=AlephOne
Exec=alephone-red
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
