[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Arduino IDE
Name[tr]=Arduino IDE
GenericName=Arduino development environment
GenericName[tr]=Arduino geliştirme ortamı
Comment=Software development environment for arduino 
Comment[tr]=arduino için yazılım geliştirme ortamı
Icon=Arduino
Exec=/usr/bin/arduino
Terminal=false
StartupNotify=false
Categories=Application;Education;Science;
