[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Njam
GenericName=Pacman-Like Game
GenericName[tr]=Pacman-Türevi Oyun
Comment=Pacman-Like Game
Comment[tr]=Pacman-Türevi Oyun
Icon=/usr/share/njam/njamicon.ico
TryExec=njam
Exec=njam
Terminal=false
Categories=Qt;KDE;Game;ArcadeGame;
