[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Fosfor
Name[tr]=Fosfor
GenericName=Fosfor
GenericName[tr]=Fosfor
Icon=fosfor
Exec=fosfor
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
