[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Calibre
Name[tr]=Calibre
GenericName=Calibre
GenericName[tr]=Calibre
Icon=calibre
Exec=calibre
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
