[Desktop Entry]
Name=Upgrade Manager
Name[tr]=Güncelleme Yöneticisi
GenericName=Upgrade Manager
GenericName[tr]=Güncelleme Yöneticisi
Comment=An application for distupdate
Comment[tr]=Ana sürümler arası güncelleme aracı
Exec=xdg-su -c upgrade-manager
Icon=system-software-update
Type=Application
Categories=Qt;KDE;System;
