[Desktop Entry]
Encoding=UTF-8
Name=VNC Viewer
Name[tr]=VNC Görüntüleyici
Comment=VNC client application
Comment[tr]=VNC istemci uygulaması
GenericName[tr]=VNC istemcisi
Exec=/usr/bin/vncviewer
Icon=tigervnc
Terminal=false
Type=Application
StartupWMClass=vncviewer
Categories=Application;Utility;
