[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Incollector
Name[tr]=Incollector
GenericName=Information Collector
GenericName[tr]=Information Collector
Icon=incollector
Exec=incollector
Terminal=false
StartupNotify=false
Categories=Application;Utility;