[Desktop Entry]
Name=Printoxx
GenericName=Print one or more image files
GenericName[tr]=Resimlerinizi yazdırın
Comment=Print image files
Comment[tr]=Resimlerinizi yazdırın
Exec=printoxx
Icon=printoxx
Terminal=false
Type=Application
Categories=Application;Graphics;
