[Desktop Entry]
Categories=Application;Security;
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=aarni
GenericName[en_US]=File Encryption Utility
GenericName=File Encryption Utility
GenericName[tr]=Dosya Şifreleme Aracı
Icon=aarni
MimeType=
Name[en_US]=Aarni
Name=Aarni
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
