[Desktop Entry]
Name=Kompozer
Comment=WYSIWYG Web Editor
GenericName[en]=WYSIWYG Web Editor
GenericName[tr]=WYSIWYG Web Editoru
Exec=kompozer
Icon=/usr/lib/kompozer/icons/mozicon50.xpm
Terminal=false
Type=Application
Categories=Application;Development;WebDevelopment;
Encoding=UTF-8
