[Desktop Entry]
Comment=Visual Molecular Dynamics
Comment[tr]=Görsel Moleküler Dinamik
Exec=/usr/bin/vmd
GenericName=Visual Molecular Dynamics
GenericName[tr]=Görsel Molecüler Dinamik
Icon=/usr/share/pixmaps/vmd.png
Name=VMD
NoDisplay=false
Path=$HOME
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=Education;Science;Application;
X-KDE-SubstituteUID=false
