[Desktop Entry]
Exec=/usr/sbin/elsa
Icon=elsa
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=Elsa
GenericName=Elsa Login Manager
GenericName[tr]=Elsa Giriş Yöneticisi
