[Desktop Entry]
Encoding=UTF-8
Name=CBM2 Emulator
Name=CBM2 Emülatörü
Comment=Commodore BM 2 Emulator
Comment=Commodore BM 2 Emülatörü
Exec=/usr/bin/xcbm2 %U
Icon=c610icon
Terminal=false
Type=Application
MimeType=application/x-d64;application/x-t64;application/x-x64;
StartupNotify=false
Categories=Application;Vice;
