[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Belooted
Name[tr]=Belooted
GenericName=Card Game
GenericName[tr]=Card Game
Icon=belooted
Exec=belooted
Terminal=false
StartupNotify=false
Categories=Application;Game;

