[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sysprof
GenericName=System-wide Profiler
GenericName[tr]=Performans analiz aracı
Exec=sysprof
Icon=sysprof-icon
Type=Application
Categories=Qt;KDE;System;
