[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Lordsawar
Name[tr]=Lordsawar
GenericName=Strategy Game
GenericName[tr]=Strategy Game
Icon=lordsawar
Exec=lordsawar
Terminal=false
StartupNotify=false
Categories=Application;Game;