[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VirtualBox
GenericName=Virtual Machine
GenericName[tr]=Sanal Makine
Icon=VirtualBox
Exec=VirtualBox
Terminal=false
StartupNotify=false
Categories=Application;Emulator;System;
