[Desktop Entry]
Encoding=UTF-8
Name=KTranslator
Name[tr]=KÇevirmen
Exec=ktranslator
Icon=ktranslator
Type=Application
Categories=Qt;KDE;Utility;
Comment=A KDE Translation Application
Comment[ga]=Feidhmchlár Aistriúcháin KDE
Comment[it]=Un'applicazione di traduzione per KDE
Comment[sv]=Ett översättningsprogram för KDE
Comment[tr]=KDE Çeviri Uygulaması
GenericName=Dictionary Application
GenericName[tr]=Sözlük Uygulaması
