[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=sk1
Name[tr]=sk1
GenericName=Vector Graphics Editor
GenericName[tr]=Vector Graphics Editor
Icon=sk1
Exec=sk1
Terminal=false
StartupNotify=false
Categories=Application;Office;