[Desktop Entry]
Comment[tr]=UrbanTerror haritaları oluşturun
Comment=Create UrbanTerror maps
Exec=/usr/bin/zeroradiant-wrapper
GenericName[tr]=ZeroRadiant
GenericName=ZeroRadiant
Icon=ZeroRadiant
MimeType=
Name[tr]=FPS harita düzenleyicisi
Name=FPS level editor
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=GTK;Development;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
