 [Desktop Entry]
 Exec=touchfreeze
 GenericName=Touch Freeze
 Icon=touchfreeze
 Name=TouchFreeze
 StartupNotify=false
 Terminal=false
 Type=Application
 Categories=Qt;KDE;System