[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=cmunipack
Name[tr]=cmunipack
GenericName=cmunipack
GenericName[tr]=cmunipack
Comment=Değişen yıldızların CCD görüntülerini indirgeme amaçlı gökbilim yazılımı
Comment[tr]=Değişen yıldızların CCD görüntülerini indirgeme amaçlı gökbilim yazılımı
Icon=cmunipack
Exec=/usr/local/bin/muniwin
Terminal=false
StartupNotify=false
Categories=Education;Science;Astronomy
