[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Speed Dreams
Name[tr]=Speed Dreams
GenericName=Car Racing
GenericName[tr]=Araba Yarışı
Icon=speed-dreams
Exec=speed-dreams
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
