[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=konsole -e noip2 -C
Icon=network
Terminal=false
X-KDE-StartupNotify=true
Name[tr]=No-Ip Ayarları
Name=No-Ip Settings
GenericName[tr]=No-Ip DNS güncelleyici ayarları
GenericName=No-Ip DNS updater settings
X-DCOP-ServiceType=Multi
X-KDE-SubstituteUID=true
X-KDE-Username=root
Categories=Qt;KDE;System;