[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PPracer
Name[tr]=PPracer
GenericName=Planet Penguin Racer
GenericName[tr]=Planet Penguin Racer
Icon=/usr/share/ppracer/themes/items/common/herring_standard.png
Exec=ppracer
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
