[Desktop Entry]
Encoding=UTF-8
Name=C64 Emulator
Name[tr]=C64 Emülatörü
Comment=Commodore 64 Emulator
Comment[tr]=Commodore 64 Emülatörü
Exec=/usr/bin/x64 %U
Icon=c64icon
Terminal=false
Type=Application
MimeType=application/x-d64;application/x-t64;application/x-x64;
StartupNotify=false
Categories=Application;Vice;
