[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=qmotion
Name[tr]=qmotion
GenericName=Webcam software
GenericName[tr]=Webcam uygulaması
Comment=Motion detection application for webcams
Comment[tr]=Hareket algılayıcı webcam uygulaması
Icon=qmotion.svg
Exec=qmotion
Terminal=false
StartupNotify=false
Categories=Application;Qt;Video;Graphics;
