[Desktop Entry]
Name=Qtractor
Name[tr]=Qtractor
GenericName=Multi-track Audio/MIDI Sequencer Application
GenericName[tr]=Çok-kanallı Ses/MIDI Kayıt Uygulaması
Exec=qtractor
Icon=/usr/share/icons/qtractor.png
Categories=Application;AudioVideo;
Encoding=UTF-8
