[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=gambas
Icon=gambas
Name=Gambas Integrated Development Environment
Name[tr]=Gambas Tümleşik Geliştirme Ortamı
Type=Application
Categories=Application;Development;IDE;
StartupNotify=true
