[Desktop Entry]
Categories=Application;Network
Comment=Compare and repair files across network
Comment[tr]=Dosyaları ağ üzerinden karşılaştırın ve onarın
Encoding=UTF-8
Exec=xfilerepair
GenericName=File Repairer
GenericName[tr]=Dosya Tamircisi
Icon=/usr/share/pixmaps/filerepair.xpm
Name=FileRepair
Name[tr]=FileRepair
StartupNotify=true
Terminal=false
Type=Application
