[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nimuh
Name[tr]=Nimuh
GenericName=Puzzle Type RPG
GenericName[tr]=Yapboz Türü RPG
Icon=nimuh
Exec=nimuh
Terminal=false
StartupNotify=true
Categories=Application;Game;StrategyGame;
