[Desktop Entry]
Categories=AudioVideo;Player;Video;Audio;
Name[tr]=xine
Name[de]=xine
Name[es]=xine
Name[fr]=xine
Name[it]=xine
GenericName=Multimedia Player
GenericName[tr]=Medya Oynatıcı
GenericName[de]=Multimedia Player
GenericName[es]=Reproductor multimedia
GenericName[fr]=Lecteur multimedia
GenericName[it]=Lettore multimediale
Encoding=UTF-8
Exec=xine
Icon=phonon-xine.png
MimeType=video/x-msvideo;video/x-anim;video/quicktime;video/mpeg;audio/mpeg;audio/mp2;
StartupNotify=true
Terminal=false
Type=Application
