[Desktop Entry]
Encoding=UTF-8
Name=Enemy Territory TrueCombat 
Name[tr]=Enemy Territory TrueCombat
Comment=Enemy Territory Mod
Comment[tr]=Enemy territory Modu
Exec=et +set fs_game tcetest
Icon=/opt/enemy-territory/tcetest/elitelogoicon.ico
Terminal=false
Type=Application
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
