[Desktop Entry]
Name=2ManDVD
GenericName=Video DVD Creator
GenericName[en_US]=Video DVD Creator
GenericName[tr]=Video DVD Oluşturucu
GenericName[de]=Video DVD erstellen
Type=Application
Exec=2ManDVD -graphicssystem raster
Icon=2mandvd
X-KDE-StartupNotify=true
Terminal=false
Categories=Qt;Application;AudioVideo;DiskBurning;
