[Desktop Entry]
Encoding=UTF-8
Name=The Stump Window Manager
Comment=A tiling, keyboard driven X11 Window Manager written entirely in Common Lisp
Exec=/usr/bin/stumpwm
Type=XSession