[Desktop Entry]
Encoding=UTF-8
Name=Blender
Comment=3D modeling, animation, rendering and post-production.
GenericName=3D Modeler/Renderer
GenericName[tr]=3D Modelleme Programı
Exec=blender
Icon=blender.png
Terminal=0
Type=Application
Categories=Graphics;Application
