[Desktop Entry]
Encoding=UTF-8
Name=iTestWri
GenericName=Test Editor
GenericName[tr]=Test Düzenleyici
Exec=iTestWri
Icon=itestwri
Type=Application
Categories=Qt;KDE;Education;Teaching;
