[Desktop Entry]
Encoding=UTF-8
Name=iTest
GenericName=Database Editor
GenericName[tr]=Veritabanı Düzenleyici
Exec=iTest
Icon=itest
Type=Application
Categories=Qt;KDE;Education;Teaching;
