[Desktop Entry]
Encoding=UTF-8
Name=Vuze
Comment=BitTorrent Client
Comment[tr]=BitTorrent İstemcisi
Comment[de]=BitTorrent Client
GenericName=BitTorrent Client
GenericName[tr]=BitTorrent İstemcisi
GenericName[de]=BitTorrent Client
Exec=vuze
Icon=vuze
Terminal=false
Type=Application
Categories=Application;Network;Java;
