[Desktop Entry]
Encoding=UTF-8
Icon=launch
Type=Application
Exec=kcmshell autostart

X-KDE-ModuleType=Library
X-KDE-Library=autostart
X-KDE-ParentApp=tasma

Name=Autostart Manager
Name[tr]=Otomatik Başlatıcı
Name[nl]=

Comment=Autostart Manager - A tool for configuring user specified programs to start on login
Comment[tr]=Kde başladığında çalışacak programları buradan yapılandırabilirsiniz
Comment[nl]=

Keywords=autostart manager
Keywords[tr]=Otomatik başlatma yöneticisi
Keywords[nl]=

Categories=Qt;KDE;X-KDE-settings-desktop;X-KDE-tasma-desktop
