[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Abuse
Name[tr]=Abuse
GenericName=Abuse SDL
GenericName[tr]=Abuse SDL
Icon=/usr/share/abuse_sdl/data/games/abuse/abuse.png
Exec=abuse.sdl -fullscreen -scale 2
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
