[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=rigsofrods
Name[tr]=rigsofrods
GenericName=rigsofrods
GenericName[tr]=rigsofrods
Icon=rigsofrods
Exec=rigsofrods
Terminal=false
StartupNotify=false
Categories=Application;Game;
