[Desktop Entry]
Encoding=UTF-8
Name=Enemy Territory Fortress 
Name[tr]=Enemy Territory Fortress
Comment=Enemy Territory Mod
Comment[tr]=Enemy Territory Modu
Exec=/opt/enemy-territory/et-f
Icon=etf.xpm
Terminal=false
Type=Application
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
