[Desktop Entry]
Encoding=UTF-8
Name=QDevelop
Icon=qdevelop.png
Exec=qdevelop
Type=Application
Categories=Qt;KDE;Development;
GenericName=Development Environment for Qt4
GenericName[tr]=Qt4 için Geliştirme Ortamı
