[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=gtkpod
Name[tr]=gtkpod
GenericName=gtkpod
GenericName[tr]=gtkpod
Comment=gtkpod is a graphical user interface for the Apple iPod for Unix-like systems, written using the GTK+ toolkit.
Comment[tr]=gtkpod is a graphical user interface for the Apple iPod for Unix-like systems, written using the GTK+ toolkit.
Icon=gtkpod
Exec=gtkpod
Terminal=false
StartupNotify=false
Categories=Application;Game;
