[Desktop Action ExtractHere]
Exec=ark -caption "%c" %i %m --extract-to "%d" "%u"
Icon=ark
Name=Extract here
Name[tr]=Buraya aç

[Desktop Entry]
Actions=ExtractHere
Encoding=UTF-8
Name=extracthere
Name[tr]=extracthere
ServiceTypes=application/x-gzip,application/x-lha,application/x-tar,application/x-tgz,application/x-tbz,application/x-zip,application/x-bzip,application/x-tzo,application/x-lzop,application/x-rar,application/x-zoo,application/x-tarz,application/x-archive,application/x-bzip2,application/x-jar,application/x-deb
