[Desktop Entry]
Encoding=UTF-8
Name=xvkbd
Exec=xvkbd
Icon=/usr/share/pixmaps/xvkbd.xbm
Type=Application
GenericName=A virtual keyboard for X systems
GenericName[tr]=X sunucusu için sanal klavye
Categories=KDE;Application;Utility
