[Desktop Entry]
Name=2ManDVD
GenericName[en_US]=Video DVD Creator
GenericName=Video DVD Creator
GenericName[tr]=Video DVD Oluşturucu
Type=Application
Exec=2ManDVD
Icon=2mandvd
X-KDE-StartupNotify=true
Terminal=false
Categories=Qt;Application;AudioVideo;
