[Desktop Entry]
Actions=CreateK3bDataProject;
Encoding=UTF-8
ServiceTypes=all/allfiles,inode/directory
ExcludeServiceTypes=application/x-iso,kdedevice/*

[Desktop Action CreateK3bDataProject]
Exec=k3b --datadvd %F
Name=Create Data DVD with K3b...
Name[af]=Skep data DVD met K3b...
Name[bg]=Създаване на DVD с данни с K3b...
Name[bn]=কে-থ্রি-বি দিয়ে ডেটা-সিডি তৈরি করো...
Name[br]=Krouiñ ur DVD roadoù gant K3b ...
Name[bs]=Napravi podatkovni DVD koristeći K3b...
Name[ca]=Crea DVD de dades amb K3b...
Name[cs]=Vytvořit datové DVD...
Name[da]=Lav data-cd med K3b...
Name[de]=Daten-DVD mit K3b erstellen ...
Name[el]=Δημιουργία DVD δεδομένων με το K3b...
Name[es]=Crear DVD de datos con K3b...
Name[et]=Kirjuta andme-DVD K3b abil...
Name[eu]=Sortu datu DVDak K3b-rekin...
Name[fi]=Luo data-cd K3b:llä...
Name[fr]=Créer un DVD de données avec K3b...
Name[he]=צור תקליטורי מידע DVD בעזרת K3b...
Name[hi]=के3बी के साथ डाटा सीडी बनाए...
Name[hu]=Adat-DVD létrehozása a K3b-vel...
Name[is]=Búa til gagnadisk með K3b...
Name[it]=Crea DVD dati con K3b...
Name[ja]=データ DVD を K3b で作成...
Name[km]=បង្កើត​ស៊ីឌី​ទិន្ន័យ​ជាមួយ K3b...
Name[lt]=Kurkite duomenų DVD su K3b...
Name[mk]=Креирајте податочно DVD со К3б...
Name[nb]=Lag data-DVD med K3b . . .
Name[nds]=Daten-DVD mit K3b opstellen...
Name[nl]=Data-cd aanmaken met K3b...
Name[nn]=Lag data-DVD med K3b …
Name[pa]=K3b ਨਾਲ ਡਾਟਾ DVD ਬਣਾਓ...
Name[pl]=Stwórz płytę DVD z danymi za pomocą K3b...
Name[pt]=Criar um DVD de Dados com o K3b...
Name[pt_BR]=Criar DVD de dados com K3b...
Name[ru]=Записать компакт-диск с данными, используя K3b...
Name[sl]=Ustvari podatkovni DVD s K3b ...
Name[sr]=Направи DVD са подацима помоћу K3b-а...
Name[sr@Latn]=Napravi DVD sa podacima pomoću K3b-a...
Name[sv]=Skapa data-cd med K3b...
Name[ta]=தகவல் குறுந்தகட்டோடு K3b ஐ உருவாக்குக...
Name[tr]=K3b ile Veri DVD'si oluştur...
Name[uk]=Створити КД з даними за допомогою K3b...
Name[zh_CN]=用 K3b 创建数据 DVD...
Name[zh_TW]=使用 K3b 建立資料 DVD...
Icon=k3b
