[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=gopenvpn
GenericName=gopenvpn VPN client
GenericName[tr]=gopenvpn VPN istemcisi
Icon=gopenvpn.png
Exec=gopenvpn
Terminal=false
Categories=Application;Network;RemoteAccess;
