[Desktop Entry]
Comment=Last.fm Player
Comment[tr]=Last.fm Radyo Çalar
Encoding=UTF-8
Exec=lastfm
GenericName=Last.fm Player
GenericName[tr]=Last.fm Radyo Çalar
Icon=lastfm
Name=Last.fm
Name[tr]=Last.fm
StartupNotify=false
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
Categories=Qt;KDE;Multimedia;AudioVideo;
