[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xVideoServiceThief
Name[tr]=xVideoServiceThief
GenericName=xVideoServiceThief
GenericName[tr]=xVideoServiceThief
Icon=xvst
Exec=xvst
Terminal=false
StartupNotify=false
Categories=Application;Network;
