[Desktop Entry]
Encoding=UTF-8
Name=Terminate Wine Applications
Exec=/usr/bin/killwineapps
Icon=stop
Terminal=false
Type=Application
Categories=Application;Wine

Name[tr]=Wine Uygulamalarını Sonlandır
