[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Flobopuyo
Name[tr]=Flobopuyo
GenericName=Puzzle Game
GenericName[tr]=Puzzle Game
Icon=flobopuyo
Exec=flobopuyo
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;