[Desktop Entry]
Version=1.0
Exec=QEVEN
GenericName=Qt Video Encoder
GenericName[tr]=Video Dönüştürücü
Icon=qeven
Name=QEVEN
Type=Application
StartupNotify=True
Categories=Qt;KDE;AudioVideo;

