[Desktop Entry]
Encoding=UTF-8
Name=Task Manager
Exec=/usr/bin/wine taskmgr
Icon=ksysguard
Terminal=false
Type=Application
Categories=Application;Wine-Tools

Name[tr]=Görev Yöneticisi
