[Desktop Entry]
Encoding=UTF-8
Comment=Task Coach Data File
Comment[tr]=Task Coach Veri Dosyası
DefaultApp=taskcoach
Icon=taskcoach
MimeType=application/x-taskcoach;
Patterns=*.tsk;
Type=MimeType
X-KDE-AutoEmbed=false