[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SDL Jump
Name[tr]=SDL Jump
GenericName=SDL Jump
GenericName[tr]=SDL Jump
Icon=sdljump
Exec=sdljump
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
