[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Danger Deep
Name[tr]=Danger Deep
GenericName=Submarine Simulation
GenericName[tr]=Denizaltı Simulasyonu
Icon=/usr/share/dangerdeep/textures/explosion01/exbg0010.png
Exec=dangerdeep
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation
