ACTION!="add", GOTO="libsagem_rules_end"
SUBSYSTEM!="usb_device", GOTO="libsagem_rules_end"

SYSFS{idVendor}=="079b", SYSFS{idProduct}=="005e", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="079b", SYSFS{idProduct}=="005f", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="079b", SYSFS{idProduct}=="0091", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="079b", SYSFS{idProduct}=="0092", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="079b", SYSFS{idProduct}=="0093", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="079b", SYSFS{idProduct}=="0094", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="079b", SYSFS{idProduct}=="0095", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="0924", SYSFS{idProduct}=="3cee", MODE="664", GROUP="pnp"
SYSFS{idVendor}=="0924", SYSFS{idProduct}=="3cef", MODE="664", GROUP="pnp"

LABEL="libsagem_rules_end"
