[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=JHylafax
Name[tr]=JHylafax
GenericName=Hylafax Client
GenericName[tr]=Hylafax İstemcisi
Icon=/usr/share/pixmaps/jhylafax.ico
Exec=jhylafax
Terminal=false
StartupNotify=false
Categories=Application;Network;
