[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UFO:AI
Name[tr]=UFO Alien Invasion
GenericName=UFO:AI
GenericName[tr]=UFO Alien Invasion
Icon=ufoai
Exec=ufoai
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame
