[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tapiocaui
Name[tr]=Tapiocaui
GenericName=Tapiocaui
GenericName[tr]=Tapiocaui
Icon=tapiocaui
Exec=tapiocaui
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
