# Start/Stop bluetooth service on device insertion.
SUBSYSTEM=="bluetooth", KERNEL=="hci[0-9]*", RUN+="/lib/udev/bluetooth.sh"

# So that normal users can dial out.
SUBSYSTEM=="tty", SUBSYSTEMS=="bluetooth", GROUP="dialout"
