[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xvid4conf
Name[tr]=xvid4conf
GenericName=XviD configurator
GenericName[tr]=XviD Ayarlayıcı
Exec=xvid4conf
Icon=xvid4conf
Categories=Application;AudioVideo;
