[Desktop Entry]
Encoding=UTF-8
Name=VSID music player
Name[tr]=VSID müzik oynatıcısı
Comment=VICE SID music player for Commodore tunes
Comment[tr]=Commodore parçaları için VICE SID müzik oynatıcısı
Exec=/usr/bin/vsid %U
Icon=vice
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Vice;
