[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
Comment=
Comment[tr]=
Encoding=UTF-8
Exec=moto4lin
GenericName=Motorola Telefon Aracı
GenericName[tr]=Motorola Telefon Aracı
Icon=/usr/share/pixmaps/moto4lin.png
MimeType=
Name=Moto4lin
Name[tr]=Moto4lin
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
