[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Irrlicht - Meshviewer
Name[tr]=Irrlicht - Meshviewer
GenericName=Irrlicht Mesh Viewer
GenericName[tr]=Irrlicht Mesh Görüntüleyici
Exec=konsole -e irrlicht-Meshviewer
Icon=irrlicht
Terminal=false
StartupNotify=false
Categories=Graphics;3DGraphics;GTK;
