[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Irrlicht - Font Tool
Name[tr]=Irrlicht - Font Aracı
GenericName=Irrlicht Font Tool
GenericName[tr]=Irrlicht Font Aracı
Exec=irrlicht-FontTool
Icon=irrlicht
Terminal=false
StartupNotify=false
Categories=Graphics;3DGraphics;GTK;
