[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Irrlicht - GUI Editor
Name[tr]=Irrlicht - GUI Düzenleyici
GenericName=Irrlicht GUI Editor
GenericName[tr]=Irrlicht GUI Düzenleyici
Exec=konsole -e irrlicht-GUIEditor
Icon=irrlicht
Terminal=false
StartupNotify=false
Categories=Graphics;3DGraphics;GTK;
