[Desktop Entry]
Encoding=UTF-8
Name=VICE disk image tool
Name[tr]=VICE disk imaj aracı
Comment=C1541 stand alone disk image maintenance program
Comment[tr]=C1541 disk imajı bakım programı
Exec=/usr/bin/c1541 %U
Icon=vice
Terminal=true
Type=Application
StartupNotify=false
Categories=Application;Vice
