[Desktop Entry]
Encoding=UTF-8
Name=C128 Emulator
Name[tr]=C128 Emülatörü
Comment=Commodore 128 Emulator
Comment[tr]=Commodore 128 Emülatörü
Exec=/usr/bin/x128 %U
Icon=c128icon
Terminal=false
Type=Application
MimeType=application/x-d64;application/x-t64;application/x-x64;
StartupNotify=false
Categories=Application;Vice
