[Desktop Entry]
Encoding=UTF-8
Name=VIC 20 Emulator
Name=VIC 20 Emülatörü
Comment=Commodore VIC 20 Emülatörü
Exec=/usr/bin/xvic %U
Icon=vic20icon
Terminal=false
Type=Application
MimeType=application/x-d64;application/x-t64;application/x-x64;
StartupNotify=false
Categories=Application;Vice
