[Desktop Entry]
Name=QPSPManager
Name[tr]=QPSPManager
GenericName=Play Station Portable Manager
GenericName[tr]=Play Station Portable Yönetici
Exec=QPSPManager
Icon=qpspmanager
Type=Application
Terminal=false
Comment=PBP File manager for Linux
Comment[tr]=Linux için PBP dosya yöneticisi
Categories=Qt;Utility
