[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=gambas-database-manager
Icon=gambas
Name=Gambas Database Manager
Name[tr]=Gambas Veritabanı Yöneticisi
Type=Application
Categories=Application;Development;IDE;
StartupNotify=true
