[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Sirius
Name[tr]=Sirius
GenericName=Othello Game
GenericName[tr]=Othello Oyunu
Icon=sirius
Exec=sirius
Terminal=false
StartupNotify=false
Categories=Application;Game; 