[Desktop Entry]
Encoding=UTF-8
Name=Remove Programs
Exec=/usr/bin/wine-uninstaller
Icon=emptytrash
Terminal=false
Type=Application
Categories=Application;Wine-Tools

Name[tr]=Program Kaldır

