[Desktop Entry]
Encoding=UTF-8
Name=Wine Configuration
Exec=/usr/bin/winecfg
Icon=configure
Terminal=false
Type=Application
Categories=Application;Wine-Tools

Name[tr]=Wine Ayarları
