[Desktop Entry]
Exec=/usr/kde/4/bin/kdm
Icon=kde
Type=Application
X-Pardus-XCursorTheme=Oxygen_Black

Name=KDM
GenericName=KDE Login Manager
GenericName[tr]=KDE Giriş Yöneticisi
