[Desktop Entry]
Encoding=UTF-8
Name=OpenOffice.org Draw
Name[tr]=OpenOffice.org Çizim
Exec=oodraw %U
Icon=ooo-draw.png
Terminal=false
Type=Application
InitialPreference=15
Categories=Qt;KDE;Office;
MimeType=application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;
