[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=fretsonfire
Name[tr]=fretsonfire
GenericName=Great Guitar Hero Clone
GenericName[tr]=Müthiş bir Guitar Hero Klonu
Icon=fretsonfire
Exec=fretsonfire
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ArcadeGame;
