[Desktop Entry]
Type=Application
Encoding=UTF-8
Icon=brother.png
Name=Brother Printer Installation Wizard
Name[tr]=Brother Yazıcı Kurulum Sihirbazı
Comment=Configure your Brother printers
Comment[tr]=Brother yazıcılarınızı yapılandırın
Exec=xdg-su -c "install-brother-printer"
Categories=Printer;HardwareSettings;System;Settings;
