[Desktop Entry]
Version=1.0
Comment=QGoogleTranslate, Google Çeviri uygulaması.
Exec=QGoogleTranslate
GenericName=Google Translator Application
GenericName[tr]=Google Çeviri Uygulaması
Icon=qgoogletranslate
Name=QGoogleTranslate
Type=Application
Categories=Qt;Dictionary;Utility;
Name[tr]=QGoogleTranslate
