[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LBreakout2
GenericName=Breakout Clone
GenericName[tr]=Breakout Oyunu
Icon=/usr/share/pixmaps/lbreakout2.png
TryExec=lbreakout2
Exec=lbreakout2
Terminal=false
Categories=Qt;KDE;Game;ArcadeGame;
