[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=gambas2-database-manager.gambas
Icon=gambas2
Name=Gambas II Database Manager
Name[tr]=Gambas II Veritabanı Yöneticisi
Type=Application
Categories=Application;Development;IDE;
StartupNotify=true
