[Desktop Entry]
Name[tr]=Xastir
Name=Xastir
GenericName[tr]=APRS istemcisi
GenericName=Full featured APRS client
Comment[tr]=Otomatik Konum Raporlama Sistemi İstemcisi
Comment=Automatic Position Reporting System Client
Encoding=UTF-8
Exec=xastir
Icon=xastir
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;Application;HamRadio;
