Type=Application
Version=1.0
Name=EMGDUI
GenericName=EMGD Configuration Tool
GenericName[tr]=EMGD Yapılandırma Aracı
Comment=EMGD Configuration
Comment[tr]=EMGD Yapılandırması
Icon=emgdui
Exec=emgdgui
Terminal=false
StartupNotify=false
Categories=Application;System;
