[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=The Battle for Wesnoth
GenericName=Turn-based strategy game
GenericName[tr]=Sıra temelli strateji oyunu
Comment=Turn-based strategy game
Comment[tr]=Sıra temelli strateji oyunu
Icon=/usr/share/wesnoth/images/wesnoth-icon.png
TryExec=wesnoth
Exec=wesnoth
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame
