[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=x2goclient
Name[tr]=x2goclient
GenericName=X2GO Remote Desktop Client
GenericName[tr]=X2GO Uzak Masaüstü İstemcisi
Icon=/usr/share/pixmaps/x2goclient/32x32/x2goclient.png
Exec=x2goclient
StartupWMClass=x2goclient
X-Window-Icon=x2go
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false
Categories=Qt;KDE;Network
StartupNotify=false

