[Desktop Entry]
Categories=Qt;KDE;Utility;
Encoding=UTF-8
Type=Application
Exec=kchmviewer %U
Icon=kchmviewer.png
Terminal=0
Name=KchmViewer
Comment=A viewer of CHM (MS-Help) files
Comment[tr]=CHM (Microsoft yardım) dosyaları görüntüleyici
GenericName=CHM (Microsoft help) file viewer
GenericName[tr]=CHM (Microsoft yardım) dosyaları görüntüleyici
MimeType=application/chm
