[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SilverTree
GenericName=3D RPG Game
GenericName[tr]=3B RPG Oyunu
Exec=silvertreerpg
Icon=silvertree
Categories=Game;StrategyGame;
