[Desktop Entry]
Encoding=UTF-8
Name=GVidcap
GenericName=Screen Capture Utility
GenericName[tr]=Görüntü Yakalama Aracı
Comment=Screen Capture Utility
Comment[tr]=Görüntü Yakalama Aracı
Exec=gvidcap
Icon=gvidcap.png
Terminal=0
Type=Application
Categories=Graphics;Application
