[Desktop Entry]
Name=YodaSoccer
Exec=/usr/bin/yodasoccer
Categories=Application;Game;
Comment=SWOS like soccer game
comment[tr]=SWOS türevi futbol oyunu
Encoding=Legacy-Mixed
GenericName=Football game
GenericName[tr]=Futbol oyunu
Icon=/usr/share/pixmaps/yodasoccer.png
StartupNotify=true
Terminal=0
Type=Application
