[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Pavi
GenericName=Pardus VirtualBox Installer
GenericName[de]=Pardus VirtualBox Installer
Comment=A VirtualBox installation tool for Pardus GNU/Linux
Comment[de]=Ein VirtualBox Installationswerkzeug für Pardus GNU/Linux
Icon=pavi
Exec=pavi
Categories=Application;Emulator;System;
Type=Application
Terminal=false
MultipleArgs=false
DocPath=file:///usr/share/doc/pavi/pavi.html