[Desktop Entry]
Encoding=UTF-8
Name=Command Prompt
Exec=/usr/bin/wine wineconsole --backend=user cmd
Icon=konsole
Terminal=false
Type=Application
Categories=Application;Wine-Tools;

Name[tr]=Komut İstemi
