[Desktop Entry]
Encoding=UTF-8
Name=Drives
Name[tr]=Sürücüler
Exec=konqueror ~/.wine/dosdevices
Icon=blockdevice
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Wine;
