[Desktop Entry]
Encoding=UTF-8
Name=Update Menus
Comment=Updates wine menu files
Exec=/usr/bin/wine-update-menus.py
Icon=rebuild
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Wine;

Name[tr]=Menüleri Güncelle
Comment[tr]=Wine menü dosyalarını günceller
