[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nexuiz
Name[tr]=Nexuiz
GenericName=Nexuiz SDL version
GenericName[tr]=Nexuiz SDL sürümü
Icon=nexuiz
Exec=nexuiz
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
