[Desktop Entry]
Categories=Development;Electronics
Comment[en_US]=Design a printed circuit board.
Comment=Design a printed circuit board.
Exec=eagle %U
GenericName[en_US]=PCB Designer
GenericName=PCB Designer
Icon=eagle
MimeType=
Name[en_US]=Eagle
Name=Eagle
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
