[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AlephOne-Marathon2
Name[tr]=AlephOne-Marathon2
GenericName=Marathon2 mod for AlephOne
GenericName[tr]=AlephOne Marathon2 modu
Icon=AlephOne
Exec=alephone-marathon2
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
