[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Volleyball
Name[tr]=Volleyball
GenericName=Sports Game
GenericName[tr]=Sports Game
Icon=volleyball
Exec=volleyball
Terminal=false
StartupNotify=false
Categories=Application;Game;

