[Desktop Entry]
Name=Ardour
Exec=/usr/bin/ardour2
Categories=Application;AudioVideo;
Comment=Multichannel hard disk recorder
comment[tr]=Çok kanallı disk kaydedici
Encoding=Legacy-Mixed
GenericName=
Icon=kmix
StartupNotify=true
Terminal=0
Type=Application
