[Desktop Entry]
Exec=kosd
X-DBUS-StartupType=wait
Name=kosd
Type=Service
X-KDE-autostart-after=plasma-desktop
X-KDE-StartupNotify=false
X-KDE-StartupType=Unique
Icon=kmix
