[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Pushover
Name[tr]=Pushover
GenericName=Dominos Game
GenericName[tr]=Dominos Game
Icon=pushover
Exec=pushover
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
