[Desktop Entry]
Encoding=UTF-8
Name=jalbum
Name[tr]=jalbum
GenericName=Web photo album generator
GenericName[tr]=Foto Albüm
Categories=Application;Graphics;Java
Exec=jalbum
Icon=jalbum.png
StartupNotify=true
Terminal=false
Type=Application