[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=FishSupper
Name[tr]=FishSupper
GenericName=Fish Supper
GenericName[tr]=Fish Supper
Icon=fishsupper
Exec=fishsupper
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
 
