[Desktop Entry]
Exec=/usr/bin/lightdm
Icon=lightdm
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=Lightdm
GenericName=Lightdm Login Manager
GenericName[tr]=Lightdm Giriş Yöneticisi
