[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=WoP
Name[tr]=WoP
GenericName=World of Pandman
GenericName[tr]=World of Pandman
Icon=wop
Exec=wop
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
