[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PipeWalker
GenericName=NetWalk Clone
GenericName[tr]=NetWalk Benzeri Oyun
Icon=pipewalker
Exec=pipewalker
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
