[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=KBilliards
Name[tr]=KBilliards
GenericName=Billiards Game
GenericName[tr]=Bilardo Oyunu
Icon=kbilliards
Exec=kbilliards
Terminal=false
StartupNotify=false
Categories=Application;Game;