[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Simage
Name[tr]=Simage
GenericName=Simage
GenericName[tr]=Simage
Icon=simage
Exec=simage
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
