[Desktop Entry]
Encoding=UTF-8
ServiceTypes=application/x-msdos-program
Actions=openWithWine;

X-KDE-Priority=TopLevel
X-KDE-GetActionMenu=kded ksvnd getTopLevelActionMenu(KURL::List)

[Desktop Action openWithWine]
Name=Open with Wine
Name[tr]=Wine ile aç
Exec=/usr/bin/wine-start -d %f
Icon=wine
