[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AlephOne-Evil
Name[tr]=AlephOne-Evil
GenericName=Evil mod for AlephOne
GenericName[tr]=AlephOne Evil modu
Icon=AlephOne
Exec=alephone-evil
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
