[Desktop Entry]
Type=Application
Version=1.0
Name=xboard
Name[tr]=xboard
GenericName=Chess Game
GenericName[tr]=Satranç Oyunu
Comment=GUI for gnuchess and for internet chess servers
Comment[tr]=gnuchess ve internet satranç sunucuları için arayüz
Icon=xboard
Exec=xboard
Terminal=false
StartupNotify=false
Categories=Game;BoardGame;
