[Desktop Entry]
Version=1.0
Type=Application
Name=EarToner
Name[tr]=EarToner
GenericName=Ear training application
GenericName[tr]=Kulak eğitim uygulaması
Exec=eartoner
TryExec=eartoner
Icon=eartoner
Terminal=false
Categories=AudioVideo;Audio;Education;Music;
StartupNotify=false
