[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nuclear Chess
Name[tr]=Nuclear Chess
GenericName=Chess Game
GenericName[tr]=Chess Game
Icon=nuclearchess
Exec=nuclearchess
Terminal=false
StartupNotify=false
Categories=Application;Game;