[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=DigiBand
Name[tr]=DigiBand
GenericName=Drum/guitar simulator
GenericName[tr]=Davul/gitar simülasyonu
Icon=DigiBand
Exec=DigiBand
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame
