[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Claws-Mail
Name[tr]=Claws-Mail
GenericName=E-mail Client
GenericName[tr]=E-mail Client
Icon=claws-mail
Exec=claws-mail
Terminal=false
StartupNotify=false
Categories=Application;Network;
