[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Don Ceferino Hazaña
Name[tr]=Don Ceferino Hazaña
GenericName=Action game
GenericName[tr]=Action game
Icon=ceferino
Exec=ceferino
Terminal=false
StartupNotify=false
Categories=Application;Game; 