[Desktop Entry]
Encoding=UTF-8
Name=HSQLDB Query Tool
Name[tr]=HSQLDB Sorgu Aracı
GenericName=Database Querier
GenericName[tr]=Veritabanı Sorgulayıcı
Exec=hsqldb-querytool
Icon=hsqldb.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Development;