[Desktop Entry]
Encoding=UTF-8
Name=HSQLDB Transfer Tool
Name[tr]=HSQLDB Aktarım Aracı
GenericName=Transfer Tool
GenericName[tr]=Aktarım Aracı
Exec=hsqldb-transfer
Icon=hsqldb.xpm
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Development;