[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=WesternQuake3
Name[tr]=WesternQuake3
GenericName=WesternQuake3
GenericName[tr]=WesternQuake3
Icon=westernquake3
Exec=westernquake3
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame
