[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=emelFM2
GenericName=File Manager
GenericName[tr]=Dosya Yöneticisi
Comment=2-pane Gtk+2 file manager
Comment[tr]=Çift panel görünümlü dosya yöneticisi
TryExec=emelfm2
Exec=emelfm2
Icon=emelfm2
Terminal=false
StartupNotify=false
Categories=System;FileTools;GTK;FileManager;
