[Desktop Entry]
Name=choqoK
Name[sv]=Choqok
Name[tr]=Choqok
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Application;Network;
GenericName=A KDE4 Twitter Client
GenericName[el]=Ένας πελάτης Twitter για το KDE 4
GenericName[fr]=Un client Twitter pour KDE 4
GenericName[gl]=Un cliente de Twitter para KDE4
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ KDE4 Twitter
GenericName[nds]=En Twitter-Client för KDE4
GenericName[nl]=Een KDE4 Twitter-cliënt
GenericName[pt]=Um Cliente de Twitter para o KDE4
GenericName[pt_BR]=Um Cliente de Twitter para o KDE4
GenericName[sv]=En KDE4 Twitter-klient
GenericName[th]=โปรแกรมลูกข่าย Twitter สำหรับ KDE4
GenericName[tr]=KDE4 için Twitter İstemcisi
GenericName[uk]=Клієнт Twitter для KDE4
Terminal=false
X-DBUS-StartupType=Unique
