[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Spring Settings
Name[tr]=Spring Ayarları
GenericName=Configuration tool for Spring
GenericName[tr]=Spring için yapılandırma aracı
Icon=springsettings
Exec=springsettings
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
