[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Spring Lobby
Name[tr]=Spring Lobby
GenericName=Lobby client for the Spring
GenericName[tr]=Spring için lobby istemcisi
Icon=springlobby
Exec=springlobby
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
