[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=X-Moto Editor
Name[tr]=X-Moto Düzenleyici
GenericName=Xmoto Level Editor
GenericName[tr]=Xmoto Bölüm Düzenleyicisi
Icon=xmoto
Exec=xmoto-edit
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame
