[Desktop Entry]
Encoding=UTF-8
Name=PET Emulator
Name[tr]=PET Emülatörü
Comment=Commodore PET Emulator
Comment[tr]=Commodore PET Emülatörü
Exec=/usr/bin/xpet %U
Icon=peticon
Terminal=false
Type=Application
MimeType=application/x-d64;application/x-t64;application/x-x64;
StartupNotify=false
Categories=Application;Vice;
